.reviews {
  margin: 0 auto;
  width: 1000px;
}

.userReview > h4 {
  margin: 5px 0px;
}
.userReview > h5 {
  margin: 5px 0px;
  color: gray;
}

.userReview > p {
  margin: 5px 0px;
}

.userReview {
  margin-bottom: 30px;
}



.userReview > button {
  background-color: rgb(72, 72, 72);
  color: white;
  border: 1px black solid;
  box-shadow: 2px 2px black;
  height: 25px;
  margin-right: 10px;
}
