.hidden {
  display: none;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  border-bottom: 1px grey solid;
  padding: 10px;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  color: red;

  font-weight: bold;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.logo > span {
  margin-left: 5px;
}

.logo > i {
  font-size: 30px;
}

.profile-dropdown:not(.hidden) {
  position: absolute;
  background-color: white;
  border: 2px black solid;
  border-radius: 2px;
  top: 50px;
  right: 17px;
  display: flex;
  flex-direction: column;
}

.profile-dropdown > li > a {
  color: black;
}

#menu-button:hover {
  cursor: pointer;
}

#menu-button {
  background-color: white;
  border: 2px black solid;
  border-radius: 20px;
  height: 30px;
  width: 60px;
  margin-left: 20px;
}

#menu-button > i {
  font-size: 15px;
  margin: 0px 2px;
}

.profile-separator {
  border-bottom: black solid 1px;
  margin: 5px 0px;
}

#logout-button {
  background-color: gray;
  color: white;
  border: 2px black solid;
  border-radius: 20px;
  height: 30px;
}

#logout-button-container {
  display: flex;
  justify-content: center;
}

#loginSignup:hover {
  cursor: pointer;
}
